<div class="journal-text">
    I'm in a new living space that I want to have a calm, clean aesthetic with natural, human-friendly lighting, and that includes my PC setup. Just moved into a new apartment by myself, and I want to make it a satisfying and inviting living space, not just through the furnishing and layout but also through lighting, specifically warm, indirect, and/or low-angle lighting for the evenings. One idea in particular I'm quite enamoured with is time-based room lighting that starts with top-down cool-white during the day and transitions over the course of sunset to lower, warmer orange light during the evenings. I figure that would be a really cool marriage of modern tech with old, I mean REALLY old-school biochemistry to create a living space more in sync with the rhythms of the human body. If that sounds like I have my head in the clouds, well, I do, but half the reason I moved into my own place is to dream up silly things like that so if you're not on board, go read another blog (beer emoji).
</div>
<!-- unfurnished apartment -->
<img class="journal-img" src="" srcname="20220818_153445_ControlPanelDiagram.jpg">
<div class="journal-text">
    At any rate, this gave me my first design criteria:
    <ol start="1">
        <li>Fill out my living space with a warm, naturalistic aesthetic</li>
    </ol>
</div>
<div class="journal-text">
    My PC desk is in the living room, which is most of the apartment, so I want the PC setup itself to contribute to the feeling of the living space as well. I've just rebuilt my PC with a nice clean aesthetic, including glass case panels and interior lighting which could integrate really nicely with the rest of the space. I've also gone to a fair bit of trouble to build this custom pegboard which provides a wood-panelled backing for the entire desk (without actually being fixed to the wall, because this is a rental after all). I figure the PC desk is the perfect little corner of the living space to start with, and I can build on that to create a more cohesive aesthetic for the whole place.
</div>
<!-- initial PC desk setup, post-pegboard, pre-prototypes -->
<img class="journal-img" src="" srcname="20220824_190933_firstArduinoARGBTest.jpg">
<div class="journal-text">
    I decide I want to build a wood-and-metal control panel that emulates the look and feel of old analog music studios and incorporates some functions I want for the desk and the apartment overall. This started with the simple desire to have my external sound card angled up slightly, kind of like a little control panel, so that it felt more like a deliberately placed part of the setup rather than an afterthought placed wherever it fit.
</div>