{% extends "layout.html" %}

{% block title %}
    Project Brief
{% endblock %}

{% block main %}    
    <h1 class="text-center">Project Brief</h1>
    <h2 class="text-project-brief">Background</h2>
    <!-- TODO: add images for the background section -->
    <h4 class="text-project-brief">ARGB controller software is not pleasant to use</h4>
    <p class="text-project-brief">
        The main idea for this project came out of my own frustration with existing hardware/software for controlling ARGB LEDs built into PC components.
        Most ARGB devices, like fans, must be plugged into a controller that interfaces with software running on the PC.
        This software is manufacturer-specific, closed-source, and typically quite limited in what it can do: you get some pre-loaded color patterns, but if you want it to do anything else, you're out of luck.
        To make matters worse, the software is often classic "bloatware": it insists on starting on login, then runs slow, chews up computer resources on functions you didn't ask for, and crashes often.
        Factor in multiple apps running for different manufacturers, and the user experience gets frustrating fast.
        While there is some scope to synchronise lighting across different manufacturer's products, these aren't ideal either: I was able to sync my CoolerMaster fans and my Corsair mouse, for instance, but only by using ARGB software tied to my motherboard, which was more limited than the software that came with either product.
    </p>
    <h4 class="text-project-brief">ARGB controller hardware is not special</h4>
    <p class="text-project-brief">
        Despite these software problems, I noticed that the physical connections across all my devices was using the same three-pin standard.
        A quick internet search taught me that the standard was, as expected, a simple Vcc-Data-Gnd pin layout.
    </p>
    <h4 class="text-project-brief">Humans did not evolve to relax under rainbow lighting</h4>
    <p class="text-project-brief">
        While thinking about making my own ARGB controller, one feature that I particularly wanted was temperature-based color control.
        I liked the idea of room lighting that could change from cool white during the day to very warm, basically orange, at night.
        Ideally I'd have my whole apartment lit up like this to make it a well-lit space during the day that gradually becomes softer, warmer, and hopefully more sleep-conducive at night.
        This is pretty much the antithesis of most pre-built ARGB options, whether that's PC components or ARGB strip-lighting with controllers, which default to "rainbow vomit cyclone".
        Of course, if I had my own controller then I could make my color-temperature dreams come true.
    </p>
    <h4 class="text-project-brief">I like my hardware ~ t e x t u r a l ~</h4>
    <p class="text-project-brief">
        I don't know about you, but I really love old-school electronics hardware, particularly audio hardware like synthesisers, amps, mixing tables, etc.
        The use of materials like wood and metal and glass makes them look and feel so much nicer, so much more hand-crafted, than anything you can get out of molded plastic.
        All that physical switchgear gives it a sense of weight and purpose; you just know there's a heap of clever analog wizardry going on in there as you move physical components about.
        It's kind of the opposite of the experience I was getting with the ARGB controllers, which is basically "plug in this small plastic box and hope the software will work".
        If I was ever going to build my own electronics hardware, something really cool, it would take a lot of design queues from that kind of old-school equipment.
    </p>
    <h4 class="text-project-brief">I like having something to do</h4>
    <p class="text-project-brief">
        If all this is sounding like something you can just buy a smart home product to do, then yes, you're probably right.
        That's not the point. The point is that once I got it in my head that this could be done, it sounded like fun.
        Furthermore, if I could make this into something that was either totally offline, or somethign
    </p>
    <h2 class="text-project-brief">The Idea</h2>
    <p class="text-project-brief">
        So I have lighting software that doesn't work, connected to hardware that isn't complicated, pushing out colors I don't like, in a form factor that's the opposite of what I like in technology.
        What if I made the opposite of that? An open-source controller, accepting whatever standard plug-ins my devices used, with all of the color-control options I could think up, built into a sleek bit of hardware that makes you go "Nice."
    </p>
    <p class="text-project-brief">
        What if I made a wood-and-steel ARGB lighting control panel? Something like this...
    </p>
    <div class="container-fluid">
        <img src="static/imgs/20220818-153445_ControlPanelDiagram.jpg" class="img-homepage mx-auto d-block" alt="Original concept drawing of control panel">
    </div>
    <p class="text-project-brief">
        (TODO: add some labels on that digital finger-painting of a concept drawing)
    </p>
    <!-- image of the first concept drawing -->
    <h2 class="text-project-brief">The Spec</h2>
    <p class="text-project-brief">
        I had a lot of fun taking this idea and running with it, and once I realised how big I could build it, I ended up dreaming up a lot of functionality. Kudos to assorted friends of mine for listening to me brainstorm over some beers.
    </p>
    <p class="text-project-brief">
        The feature list below is what I settled on as the "core" functionality, at least as of around about September 2022.
    </p>
    <ol>
        <li>Control all the ARGB LED devices in my PC.</li>
        <li>Control all the ARGB LED strips I planned on installing around my apartment.</li>
        <li>Automatic Temperature-based color control: automatically transition lighting from cool to warm as the sun sets here in Perth.</li>
        <li>Integrate into my PC setup: control panel should be a low, wide box lurking underneath my PC monitor.</li>
        <li>Moog-inspired build quality: build the controller into a wood cabinet with black brushed-aluminium faceplate, big, satisfying switchgear, and actual Moog parts for knobs and rocker switches because why not.</li>
        <li>Mains power control for PC setup: Control mains power to my PC, monitors, and speakers using big old-school toggle switches.</li>
        <li>Integrate PC sound-card with VU meters for safe volume monitoring: mount my PC's external soundcard inside the cabinet, with working VU meters calibrated to 0dB output = 85 dB at my listening position.</li>
        <li>E-ink display that blends in: flush-mount an E-ink display in the middle of the panel, which should be black aluminium. Display content should be white-on-black so the display appears to blend into the faceplate. By default, I'm thinking a world clock display showing the day/night Great Circle.</li>
        <li>Offline smart home: this whole thing should be built to control devices throughout my apartment without going online if at all possible.</li>
        <li>Homebrew phone-control app: in direct conflict with the feature above, I also wanted to control this thing from my phone. This sounded like a fun project to learn web dev with so why not.</li>
    </ol>
{% endblock %}