.lightbox-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.95);
}

/* Modal Content */
.img-lightbox {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 97%;
    max-width: 100%;
    /* padding: 200px 0px 200px 0px; */
}

.caption-container {
    box-sizing: border-box;
    color: white;
    display: block;
    height: 3%;
    overflow: clip;
    text-align: center;
}

.img-lightbox-thumb {
    opacity: 0.6;
    max-height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.active,
.img-lightbox-thumb:hover {
    opacity: 1.0;
}

.img-gallery {
    width: auto;
    height: 300px;
    margin: 10px;
}

.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.translucent-background {
    background-color: rgba(0,0,0,0.8);
}

/* Number text (fractions 1/3 etc) */
.image-number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.close-button {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.next,
.prev {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px; /* Offset by half-height of button */
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next" button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a semi-transparent black background */
.next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    /* content: "";
    display: table;
    clear: both; */
}

.row-homepage {
    height: 80vh;
}

.row-lightbox-img {
    position: relative;
    height: 80%;
    box-sizing: border-box;
    padding-left: auto;
    padding-right: auto;
}

.row-lightbox-thumbs {
    position: relative;
    height: 20%;
    box-sizing: border-box;
    overflow-x: auto; /* Should permit scrolling through the thumbnails */
    overflow-y: hidden; /* Should permit scrolling through the thumbnails */
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-project-brief {
    padding-left: 10px;
    padding-right: 10px;
}