{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}    
    <div class="container-fluid">
        <h1 class="text-center">Nathan's PC Control Panel Project Website</h1>
        <p class="text-center">A very simple website for CS50 Problem Set 8 that became a sort of blog for my Control Panel project!</p>
    </div>
    <div class="container-fluid row-homepage">
        <img src="/static/imgs/20230219_174904_conceptToReality.png" class="img-homepage mx-auto d-block" alt="Homepage image showing concept drawing of control panel over actual prototype">
    </div>
{% endblock %}